.passo-title {
    margin-right: 30px !important;
}

.btn-sm {
    border: none !important;
}

.mermaid {
  width: 100% !important;
  height: 100% !important;
  min-height: 0 !important;
  display: flex;
  align-items: stretch;
  justify-content: stretch;
}

.mermaid svg {
  width: 100% !important;
  height: 100% !important;
  min-height: 0 !important;
  max-height: none !important;
  display: block;
}

.divisoria {
  color: #6cb4f6;
  font-size: 14px;
}

.passo-title {
  display: inline-block;        /* garante que o texto respeite largura */
  max-width: 500px;             /* ajusta conforme o layout */
  overflow: hidden;             /* corta o que passa do limite */
  text-overflow: ellipsis;      /* adiciona os '...' */
  white-space: nowrap;          /* impede quebra de linha */
  vertical-align: middle;
}
